@import url('https://fonts.googleapis.com/css2?family=Borel&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

@theme {
    --font-outfit: Outfit, sans-serif;
    --font-dmsans: DM Sans, sans-serif;
    --font-borel: Borel, cursive;
    --color-primary: #7D83FA;
}